* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.me {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: ghostwhite;
}

.text {
  font-size: 30px;
  border-bottom: 1px solid red;
}
